<!-- app/views/user_mailer/new_report_notification.html.erb -->
<!DOCTYPE html>
<html>
  <body>
    <h1>New Report Submitted</h1>
    <p>A new report has been submitted by <%= @report.user.email %>.</p>
    <p>Category: <%= @report.category %></p>
    <p>Content: <%= @report.content %></p>
    <p><%= link_to 'View Report', report_url(@report) %></p>
  </body>
</html>
