<% if user.notifications.unread.count > 0 %>
  <span id="notification-counter" class="absolute -top-1 -right-1 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">
    <%= user.notifications.unread.count %>
  </span>
<% else %>
  <span id="notification-counter" class="absolute -top-1 -right-1 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full hidden">
    0
  </span>
<% end %>
