<div class="flex justify-center items-center bg-white pb-2 sticky top-16 z-10">
  <div class="w-80">
    <div class="relative mt-2 flex items-center cursor-pointer" id="quick-search" data-controller="search"
    data-action="click->search#showModal" data-modal-trigger-id="search-form">
      <div class="flex justify-between w-full rounded-md border-0 py-1.5 px-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
        <span>Search...</span> <kbd class="ml-2 inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400">Ctrl K</kbd>
      </div>
    </div>
  </div>
</div>
