<script src="https://js.stripe.com/v3/"></script>

<div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg" data-controller="stripe" data-stripe-publishable-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">Faire un don</h2>

  <!-- Ensure that the form is correctly nested -->
  <%= form_with model: @donation, url: donations_path, local: true, data: { turbo: false } do |form| %>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
        Montant du don (€)
      </label>
      <!-- This field must be inside the donation model object -->
      <%= form.number_field :amount, min: 0.50, step: 0.05, value: 10.00, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Entrez le montant du don", data: { stripe_target: "amountInput" } %>
      <p class="text-sm text-gray-600">Le montant minimum est de 0,50€.</p>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Faire un don", class: "bg-blue-500 hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
