<%# app/views/save_posts/_save.html.erb %>
<div id="<%= dom_id(post, :save) %>">
  <% if current_user && post.save_posts.exists?(user: current_user) %>
    <%= button_to post_save_path(post),
                  method: :delete,
                  class: 'inline-flex items-center px-4 py-2',
                  data: { turbo_frame: "_top" } do %>
      <i class="fa-solid fa-bookmark text-yellow-400"></i>
      <span class="ml-2">Retirer</span>
    <% end %>
  <% else %>
    <%= button_to post_save_path(post),
                  method: :post,
                  class: 'inline-flex items-center px-4 py-2',
                  data: { turbo_frame: "_top" } do %>
      <i class="fa-regular fa-bookmark"></i>
      <span class="ml-2">Enregistrer</span>
    <% end %>
  <% end %>
</div>
