<div class="bg-white p-6 rounded-lg shadow-md">
  <h1 class="text-xl font-semibold text-gray-900">Bienvenue dans notre newsletter !</h1>

  <p class="mt-4 text-gray-700">
    Merci de vous être inscrit à notre newsletter. Nous avons hâte de vous tenir informé de nos dernières nouvelles, articles et mises à jour.
  </p>

  <p class="mt-6">
    <a href="<%= root_url %>" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg">Visitez notre site</a>
  </p>
</div>
