<div id="search-results" class="space-y-4">
  <% posts.each do |post| %>
    <!-- Render each post with styling -->
    <div class="post bg-white p-4 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-200">
      <%= link_to post_path(post), class: "text-indigo-600 hover:text-indigo-800" do %>
        <h4 class="text-lg font-semibold"><%= post.title %></h4>
        <p class="text-gray-600 mt-2"><%= truncate(post.body.to_plain_text, length: 100) %></p>
        <div class="flex flex-wrap">
            <p class="font-semibold mr-2">Tags:</p>
            <% post.tags.each do |tag| %>
              <span class="bg-orange-400 text-white rounded-full ml-2 px-3 py-1 text-sm font-medium cursor-pointer">
                <%= tag.name %>
              </span>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
