.relative {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle svg {
  fill: #000; /* Change this color as needed */
  width: 24px;
  height: 24px;
}

.password-toggle svg.hidden {
  display: none;
}
